* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 32px;
    
}
.container {
    height: 100vh;
    background-color: #3F4049;
    min-width: 770px;

}

.savings {
    cursor: none;
    color: black;
    font-size: 50px;
}

.expense {
    margin-top: 30px !important;
}

.investiments {
    margin-top: 15px;
}

.withdraw {
    margin-top: 15px;
}

.add:hover,.expense:hover,.investiments:hover,.withdraw:hover {
    opacity: 0.8;
}

.add {
    padding-left: 85px !important;
    padding-right: 85px !important;
}

.expense {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.withdraw {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

